@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Yeseva+One&display=swap');

.landingText {
    position: center;
    flex-direction: row;
    font-family: 'Yeseva One', cursive;
    font-size: 4em;
    padding: 5em 0em 9em 0em;
}

.minorText {
    font-size: 30%;
    font-family: 'Playfair Display', serif;
    color: gray;
}

/* Mobile Devices */
@media only screen and (min-device-width: 320px) {
   .landingText {
    font-size: 40px;
   }
  }