@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Yeseva+One&display=swap');
.about {
    /* display: flex;
    flex-direction: row; */
    padding: 0em 10em 12em 10em;
}

.aboutText {
    position: relative;
    font-family: 'Playfair Display', serif;
    display: inline-block;
}

.aboutText h1 {
    font-size: 3em;
    padding-bottom: 20px;
    color: #2a2a2a;
    text-align: left;
    letter-spacing: .1em;
    font-family: 'Yeseva One', cursive;
}

.aboutText h3 {
    text-align: left;
}

.aboutText p {
    font-size: 1em;
    text-align: right;
}

.about img {
    float: right;
    height: 100%;
    width: 40%;
    padding-left: 15px;
}

/* Mobile Devices */

@media only screen and (max-width: 768px) {
    .about {
        padding: 0em 2em 12em 2em;
    }
    .aboutText h1 {
        font-size: 40px;
        display: flex;
    }
}