@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Yeseva+One&display=swap');
.contact {
    position: relative;
    padding: 0em 10em 17em 10em;
}

.contact-heading {
    font-size: 3em;
    padding-bottom: 20px;
    color: #2a2a2a;
    text-align: left;
    letter-spacing: .1em;
    font-family: 'Yeseva One', cursive;
}

.contact-content {
    font-size: 3em;
    vertical-align: middle;
    padding-top: 50px;
}

.contact-text {
    font-family: 'Playfair Display', serif;
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: 1px;
    font-size: 25px;
}

a {
    padding: 30px;
    color: #464646;
}

/* Mobile Devices */

@media only screen and (max-width: 768px) {
    .contact {
        padding: 0em 2em 12em 2em;
    }
    .contact-heading {
        font-size: 35px;
    }
    .contact-text {
        font-size: 20px;
    }
    a {
        padding: 10px;
        color: #464646;
    }
}