@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Yeseva+One&display=swap');
.footer {
    font-family: 'Playfair Display', serif;
    padding-bottom: 15px;
    font-size: small;
}