@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Yeseva+One&display=swap');
nav {
    font-family: 'Playfair Display', serif;
    letter-spacing: .2em;
    font-size: 1.05em;
    font-weight: bolder;
    position: sticky;
    text-align: right;
    top: 3em;
    padding-right: 50px;
    z-index: 100;
}

nav li {
    display: inline-block;
    cursor: pointer;
}

nav li .link {
    text-decoration: none;
    color: #383838;
    padding: 1em;
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
}

li .link:hover {
    opacity: 1;
}

.active {
    color: #464646;
    opacity: 10;
}

/* Mobile Devices */

@media only screen and (max-width: 768px) {
    nav {
        position: fixed;
        width: 100%;
        top: 0;
    }
    ul {
        display: flex;
    }
}